header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #23b7fe;

    height: 10vh;

    padding: 15px 60px;
    
}

.nav-left{
    display: flex;
    align-items: center;
}

.nav-left > li > h2{
    padding-left: 40px;
    font-size: 30px;
    font-family: fantasy;
    color: black;
}

.logo{
    height: 80px;
}

@media screen and (max-width:780px) {
    .nav-left > li > a >img{
        height: 50px;
    }

    .nav-left > li > h2{
        font-size: 20px;
        padding-left: 20px;
    }
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list_nav_header{
    display: flex;
    align-items: center;
    gap: 40px;
}

@media screen and (max-width:780px) {
    .list_nav_header{
        display: none;
    }
}


.list_nav_header > li > a{
    color: black;
    text-decoration: none;
}

.list_nav_header > li > a:hover{
    color: white;
}


.burger{
    width: 40px;
    height: 40px;
    background-color: white;
    background-image: url(../img/burger.png);
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 80px;
    border-radius: 4px;
    

    margin-left: 80px;

    position: relative;
    z-index: 2;
}

@media screen and (min-width:780px) {
    .burger{
        display: none;
    }
}

.burger.is-active{
    background-image: url(../img/close.png);
}

.burger:hover{
    background-color: grey;
}


.menu{
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    width: 100vw;
    height: 100vh;

    background-color: #23b7fe;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    /* display: none; */
}

.menu.is-active{
    display: flex;
}

.contents{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    height: 70%;
    width: 80%;

    
}

.contents > li {
    display: block;
    background-color: white;
    width: 90%;
    height: 80px;

    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.contents > li > a{
    color: black;
    font-size: 20px;
    width: 100%;
    
    
    text-decoration: none;

    text-align: center;
    
}

.contents > li > a:hover{
    color: #23b7fe;
}




h1{
    text-align: center;
    width: 50ww;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;

    height: 120vh;
    width: 70vw;

    background: #f4f4f4;
    border-top: solid 10px #2C7CFF;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);

}












footer{
    background-color: black;
    color: white;

    padding: 2vh 0px;
    
    text-align: center;
}

@media screen and (max-width:780px) {
    footer{
        font-size: 0.5rem;
    }
    
}