header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #23b7fe;

    height: 10vh;

    padding: 15px 60px;
    
}

.nav-left{
    display: flex;
    align-items: center;
}

.nav-left > li > h2{
    padding-left: 40px;
    font-size: 30px;
    font-family: fantasy;
    color: black;
}

.logo{
    height: 80px;
}

@media screen and (max-width:780px) {
    .nav-left > li > a >img{
        height: 50px;
    }

    .nav-left > li > h2{
        font-size: 20px;
        padding-left: 20px;
    }
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list_nav_header{
    display: flex;
    align-items: center;
    gap: 40px;
}

@media screen and (max-width:780px) {
    .list_nav_header{
        display: none;
    }
}


.list_nav_header > li > a{
    color: black;
    text-decoration: none;
}

.list_nav_header > li > a:hover{
    color: white;
}


.burger{
    width: 40px;
    height: 40px;
    background-color: white;
    background-image: url(../img/burger.png);
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 80px;
    border-radius: 4px;
    

    margin-left: 80px;

    position: relative;
    z-index: 2;
}

@media screen and (min-width:780px) {
    .burger{
        display: none;
    }
}

.burger.is-active{
    background-image: url(../img/close.png);
}

.burger:hover{
    background-color: grey;
}


.menu{
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    width: 100vw;
    height: 100vh;

    background-color: #23b7fe;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    /* display: none; */
}

.menu.is-active{
    display: flex;
}

.contents{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    height: 70%;
    width: 80%;

    
}

.contents > li {
    display: block;
    background-color: white;
    width: 90%;
    height: 80px;

    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.contents > li > a{
    color: black;
    font-size: 20px;
    width: 100%;
    
    
    text-decoration: none;

    text-align: center;
    
}


.contents > li > a:hover{
    color: #23b7fe;
}



/* メインタグの中身 */




.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 100px;
    margin-bottom: 100px;
}

.result > h1{
    margin-bottom: 30px;

    font-size: 2.5rem;
    width: 500px;
    text-align: center;

    background: linear-gradient(transparent 70%, #a7d6ff 70%);

}

@media screen and (max-width:780px) {
    .result > h1{
        font-size: 1.5rem;
        width: 300px;
    }
    
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 600vh;
    width: 75vw;

    padding: 4em 1em;
    margin-bottom: 0px;
    margin-top: 0px;
    color: black;
    background: #f4f4f4;
    border-top: solid 10px #2C7CFF;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);

}

.container > form{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.match{

    position: relative;

    background-color: rgb(219, 240, 245);
    border-radius: 20px;
    width: 80%;
    height: 60%;
}

@media screen and (max-width:780px) {
    .container{
        height: 200vh;
    }

    .match{
        height: 60%;
    }
}

.competition{
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: absolute;

    top: 5%;
    left: 10%;
    
    background-color: #d2e8f3;
    width: 350px;
    height: 20%;

    margin-top: 10px;
    margin-right: 40%;
    margin-bottom: 10px;
    
}


.league{
    display: flex;
}
.date{
    display: flex;
}



@media screen and (max-width:780px) {
    .competition{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    
    .competition > .league > h1, .competition > .date > h1{
        font-size: 0.5rem;
    }
}

.detail{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    top: 40%;
    left: 10%;

    width: 80%;
    height: 50%;
}

.score{

    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;

    width: 100%;
    height: 50%;

    
}

.score > h1{
    background: linear-gradient(transparent 70%, #95ceff 70%);
}

.score > ul{
    display: flex;
    justify-content: space-around;
    background-color: #f4f4f4;
    width: 40%;
}

.score > ul > li{
    font-size: 50px;
}


.point{
    width: 20%;

    display: flex;
    justify-content: space-around;
}

.who{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 50%;
}

@media screen and (max-width:780px) {
    .detail{
        top: 50%;
    }
    
    .score{
        font-size: 1.0rem;
    }

    .score > h1{
        font-size: 0.7rem;
    }
    
    .score > ul > li{
        font-size: 1.0rem;
    }

    .who{
        font-size:0.7rem;
    }
}


.num{
    display: none;
}


.edit_btn{
    width: 120px;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
}

@media screen and (max-width:780px) {
    .edit_btn{
        width: 60px;
        height: 30px;
        font-size: 10px;
    }
}







footer{
    background-color: black;
    color: white;

    padding: 2vh 0px;
    
    text-align: center;
}


@media screen and (max-width:780px) {
    footer{
        font-size: 0.5rem;
    }
    
}