header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #23b7fe;

    height: 10vh;

    padding: 15px 60px;
    
}

.nav-left{
    display: flex;
    align-items: center;
}

.nav-left > li > h2{
    padding-left: 40px;
    font-size: 30px;
    font-family: fantasy;
    color: black;
}



.nav-right{
    display: flex;
    justify-content: space-around;
}

.nav-right > li > a{
    color: white;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
}

.nav-right > li > a:hover{
    color: black;
}

li{
    list-style: none;
}

.logo{
    height: 80px;
}


.info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin-top: 100px;
    margin-bottom: 100px;

}

.info > h1{
    font-size: 2.5rem;
    width: 250px;
    text-align: center;

    margin: auto;
    margin-bottom: 50px;

    background: linear-gradient(transparent 70%, #a7d6ff 70%);
}

@media screen and (max-width:780px) {
    .info{
        height: 40vh;
    }
    
    .info > h1{
        font-size: 1.5rem;
        width: 130px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
}

.info > .container{
    position: relative;

    height: 40vh;
    width: 80vw;

    /* padding: 4em 1em; */
    margin-bottom: 0px;
    margin-top: 0px;
    color: black;
    background: #f4f4f4;
    border-top: solid 10px #2C7CFF;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);

}

@media screen and (max-width:780px) {
    .info > .container{
        height: 30vh;
        width: 70vw;
    }    
}

.container > h1{

    font-size: 30px;

    position: absolute;
    top: 10%;
    left: 10%;
}

@media screen and (max-width:780px) {
    .container > h1{
        font-size: 1rem;
    }
    
}


.sns{
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    top: 35%;
    left: 12%;

    width: 80%;
}

.sns > a > img{
    height: 100px;
}

@media screen and (max-width:780px) {
    .sns > a > img{
        height: 50px;
    }
}

.sns > a > img:hover{
    opacity: 0.5;
}

.sns > a > img:active{
    width: 10vw;
    position: relative;
    top: 5px;
}



footer{
    background-color: black;
    color: white;

    padding: 2vh 0px;
    
    text-align: center;
}


@media screen and (max-width:780px) {
    footer{
        font-size: 0.5rem;
    }
    
}