header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




/* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #23b7fe;
} */



/* header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 60px;
    height: 15vh;

    
}


.nav-right{
    display: flex;
    justify-content: space-around;
    
}

.nav-right > li > a {
    color: black;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
}

.nav-left{
    display: flex;
    align-items: center;
}

.nav-left > li > h2{
    padding-left: 40px;
    font-size: 30px;
    font-family: fantasy;
}

.logo{
    height: 120px;
}
 */
