header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;

    padding: 15px 40px;
}

.logo{
    height: 80px;
}

.nav-right{
    display: flex;
}

.nav-right > li > a {
    color: white;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
}




.nav-left{
    display: flex;
    align-items: center;
}

.nav-left > li > h2{
    padding-left: 40px;
    font-family: fantasy;
}



.nav-left > li > a{
    color: white;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
}





.top{
    background-image: url(../img/IMG_1072.JPG); 
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
}

.sns{
    height: 50vh;
}