.header-main1{
    height: 110vh;
    width: 100vw;

    position: relative;

    margin-bottom: 200px;

}

@media screen and (max-width:780px) {
    .header-main1{
        margin-bottom: 80px;
    }
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 15px;
    padding-bottom: 15px;
    height: 15vh;
    width: 90vw;

    position: absolute;
    left: 5%;

    z-index: 1;
}

.nav-left{
    display: flex;
    align-items: center;
}

.nav-left > li > h2{
    padding-left: 40px;
    font-size: 30px;
    font-family: fantasy;
    
}

@media screen and (max-width:780px) {
    .nav-left > li >h2{
        color: grey;
    }
}

.logo{
    width: 100px;
}

@media screen and (max-width:780px) {
    .logo{
        width: 40px;
    }
}


nav{
    display: flex;
    align-items: center;
}

.list_nav_header{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}


@media screen and (max-width:780px) {
    .list_nav_header{
        display: none;
    }

    .burger{
        margin-right: 30px;
    }
}

.list_nav_header > li > a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.list_nav_header > li > a:hover{
    color: #23b7fe;
}


/* バーガー */
.burger {
    width: 40px;
    height: 40px;
    background-image: url(../img/burger.png);
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 4px;


    position: relative;
    z-index: 2;
}

@media screen and (min-width:780px) {
    .burger{
        display: none;
    }
    
}

.burger:hover{
    background-color: grey;
}

.burger.is-active{
    background-image: url(../img/close.png);
}


.menu{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    background-color:#23b7fe;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    /* display: none; */
}

.menu.is-active{
    display: flex;
}

.contents{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    height: 70%;
    width: 80%;

    
}

.contents > li {
    display: block;
    background-color: white;
    width: 90%;
    height: 80px;

    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.contents > li > a{
    color: black;
    font-size: 20px;
    width: 100%;
    
    
    text-decoration: none;

    text-align: center;
    
}

.contents > li > a:hover{
    color: #23b7fe;
}







.images{
    display: flex;

    position: absolute;
}

@media screen and (max-width:780px) {
    .images{
        display: flex;
        flex-direction: column;
    }
}

.images > img{
    display: block;

    height: 110vh;
    width: 33.3vw;
    object-fit: cover;

    filter:  brightness(70%);
}

@media screen and (max-width:780px) {
    .images > img{
        display: block;

        height: 36vh;
        width: 100vw;

        filter: brightness(40%);
    }
} 







.letters{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 85vh;
    width: 100vw;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

}


.letters > h1{
    font-size: 7rem;
    letter-spacing: 0.4rem;
    color: white;
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;

    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;

    width: 100%;
}

.letters > h2{
    font-size: 5rem;
    font-weight: 400;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    
}

@media screen and (max-width:780px) {
    .letters > h1{
        font-size: 4rem;
    }

    .letters > h2{
        font-size: 3rem;
    }
}




.sns{
    display: flex;
    flex-direction: column;
    align-items: center;


    height: 90vh;
    width: 100vw;

    margin-bottom:100px;
    
}


@media screen and (max-width:780px) {
    .sns{
        height: 40vh;
    }
}


.sns >  h1{
    background: linear-gradient(transparent 70%, #a7d6ff 70%);

    font-size: 4rem;

    width: 160px;
    text-align: center;
    

}

@media screen and (max-width:780px) {
    .sns > h1{
        font-size: 1.5rem;
        width: 100px;
    }
    
}


.container{

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: auto;

    height: 70%;
    width: 70%;



    padding: 0.5em 1em;
    color: #23b7fe;
    background: #f4f4f4;
    border-top: solid 10px #2C7CFF;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);

}

.insta, .x{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.container >.insta > a > img{
    height: 120px;
    width: 120px;
}

.container >.x > a > img{
    height: 120px;
    width: 120px;
}



.container >.x > a > img:hover,.container >.insta > a > img:hover{
    opacity: 0.5;
}

.container >.x > a > :active,.container >.insta > a > :active{
    position: relative;
    top: 5px;
}

.x>h1, .insta > h1{
    text-align: center;
    margin-top: 20%;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;

}

@media screen and (max-width:780px) {
    .container > .insta > a > img, .container > .x > a > img{
        height: 60px;
        width: 60px;
    }
    
    .x > h1 , .insta > h1{
        font-size: 1rem;
        text-align: center;
    }
}







footer{
    background-color: black;
    color: white;

    padding: 2vh 0px;
    
    text-align: center;
}


@media screen and (max-width:780px) {
    footer{
        font-size: 0.5rem;
    }
    
}


