.header-main1{
    background-image: url(../img/IMG_1072.JPG),url(../img/IMG_1073.JPG),url(../img/IMG_1075.JPG); 
    background-size: 33%,33%,34%;
    background-repeat: no-repeat;

    height: 100vh;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 60px;

    height: 15vh;
}

.logo{
    height: 120px;
}

.nav-right{
    display: flex;
}

.nav-right > li > a {
    color: black;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
}




.nav-left{
    display: flex;
    align-items: center;
}

.nav-left > li > h2{
    padding-left: 40px;
    font-family: fantasy;
}



.nav-left > li > a{
    color: white;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
}


.top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 85vh;

}

.title1 ,.title3{
    font-size: 7rem;
    letter-spacing: 0.4rem;
    color: white;
    font-weight: 800;

    padding-top: 5px;
    padding-bottom: 20px;
}

.title2{
    font-size: 5rem;
}




.sns{
    height: 80vh;
    background-color: aqua;
}

footer{
    height: 20vh;
    background-color: aquamarine;
}